header{
  background-color: rgb(201, 0, 157);
  font-size: large;
  color: rgb(224, 224, 9);
  text-align: center; 
  font-family: "Arial" ;
}
body{
  background-color: rgb(75, 134, 224);
}

.tarjetas{
  margin-top: 1rem;
}